<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found | @Ru_Pirie</title>
    <link rel="stylesheet" href="/stylesheets/404.css">
</head>
<body>

    <div class="center">
        <h1>404</h1>
        <p>This page could not be found looks like your blasting of into cyber space!</p>
        <p> If you believe this to be an error please contact development@ru-pirie.com</p>
        <a href="http://localhost/"><div class="rectangle">Home</div></a>
    </div>

    <!-- <a href="/"><img src="images/back.png" alt="home"></a> -->
</body>
</html>