@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap');
body {
    background-image: url("../images/main.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'JetBrains Mono';
    font-style: normal;
    color: black;
}