@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
    background-image: url("../images/rocket.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Open Sans;
}
