@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Open Sans;
}

.content h1 {
    font-size: 50px;
}

.content h2 {
    font-size: 30px;
}
